/*--------------------------------------------------------------
# Theme Selector Color Swatches
--------------------------------------------------------------*/
.kf-selector-swatches {
    display: inline-block;
    vertical-align: top;
    height: 0.7em;
    margin: 0.3em 0.2em 0 0;
    border: 1px solid #000;
}
.kf-selector-swatches__item {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 0.7em;
}

/*--------------------------------------------------------------
# WYSIWYG
--------------------------------------------------------------*/
.acf-input .acf-editor-wrap iframe {
    min-height: 56px;
}

/*--------------------------------------------------------------
# Gravity Forms - Field Options
--------------------------------------------------------------*/
/* Form Settings */
#tab_settings #gform_setting_labelPlacement,
#tab_settings #gform_setting_validationSummary,
#tab_settings #gform_setting_buttonType,
#tab_settings #gform_setting_enableAnimation,
#tab_settings #gform_setting_markupVersion,
#tab_settings #gform_setting_requiredIndicator {
    display: none !important;
}
/* Field Settings */
#field_settings_container #general_tab .date_input_type_setting #date_picker_container,
#field_settings_container #general_tab .multiple_files_setting #field_multiple_files,
#field_settings_container #general_tab .multiple_files_setting label:not([for="field_max_files"]),
#field_settings_container #general_tab .disable_margins_setting,
#field_settings_container #general_tab .columns_setting,
#field_settings_container #appearance_tab .enable_enhanced_ui_setting,
#field_settings_container #appearance_tab .size_setting,
#field_settings_container #appearance_tab .add_icon_url_setting,
#field_settings_container #appearance_tab .delete_icon_url_setting,
#field_settings_container #advanced_tab .autocomplete_setting {
    display: none !important;
}
/* Confirmation Settings */
#tab_confirmation #gform_setting_disableAutoformat,
#tab_confirmation #wp-_gform_setting_message-media-buttons {
    display: none !important;
}
